@import "../../var.css";

.project-list {
  display: flex;
  column-gap: 32px;
  border-bottom: 1px solid var(--light-black);
  padding-bottom: 64px;
}

.project-container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.project-list div {
  width: 50%;
  line-height: 1.5em;
}

.project-list div p {
  margin-bottom: 8px;
}

.project-list div ul {
  /* list-style-type: none; */
}

.project-list .project-list-stack {
  list-style-type: none;
}

.project-list-desc {
  padding-bottom: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.project-list div ul {
  padding-left: 16px;
}

@media only screen and (max-width: 768px) {
  .project-list {
    flex-direction: column;
    row-gap: 24px;
  }
  .project-list div {
    width: 100%;
  }
  .project-list div ul {
    padding-left: 16px;
  }
}
