.skill-container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-row-gap: 64px;
  grid-column-gap: 50px;
}

.skill-container div {
  width: min(300px, 100%);
}

.skill-container ul {
  list-style-type: none;
}

.skill-container ul li {
  padding: 8px 0 8px 16px;
}

@media only screen and (max-width: 768px) {
  .skill-container {
    grid-template-columns: auto;
  }
}
