.about-content {
  display: flex;
  column-gap: 32px;
  width: var(--width);
  flex-direction: column-reverse;
}

.about-content-container {
  width: 100%;
}

.about-paragraph p {
  text-indent: 64px;
  line-height: 1.5em;
}

.about-content-container img {
  border-radius: 16px;
}

.about-bio-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.about-bio-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.about-bio-list .year {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .about-content {
    width: 90vw;
  }

  .about-content-container {
    width: 100%;
  }
}
