@import "../../var.css";

.home-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  margin: 64px 0;
  min-height: 200px;
}

.home-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1000px, 90vw);
  color: var(--yellow);
}

.home-social-list {
  font-size: 1.5em;
  display: flex;
  gap: 8px;
  color: var(--yellow);
}

.home-social a {
  text-decoration: none;
}

.home-social-github a {
  font-size: 1.5em;
}
.home-social-github a:hover {
  color: var(--yellow);
}

.home-header {
  padding: 16px 0;
  border-radius: 8px;
  background-color: var(--light-black);
  text-align: center;
  width: min(500px, 90vw);
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .home-header {
    font-size: 0.85em;
  }
  .home-section {
    margin: 32px 0 64px;
  }
}

.home-profile-picture {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  width: min(1000px, 90vw);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav ul li {
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

.selected {
  border-bottom: 2px solid var(--yellow);
}

.nav-button-container {
  width: min(1000px, 90vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-button-container button {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.mobile-nav-container {
  border: 2px solid var(--light-black);
  border-radius: 5px;
  width: min(90vw, 1000px);
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-tabpane {
  width: min(90vw, 1000px);
  margin: auto;
  background-color: var(--light-black);
  margin-top: 8px;
  border-radius: 5px;
  box-sizing: border-box;
}

.mobile-nav-tabpane ul {
  list-style-type: none;
  padding: 4px 8px;
}

.mobile-nav-tabpane ul li {
  padding: 8px;
  margin: -2px -8px;
  border-radius: 5px;
}

.mobile-nav-tabpane ul li:hover {
  background-color: #6e6a86;
}
