@import "./var.css";

.dark-theme p,
.dark-theme div,
.dark-theme a {
  color: var(--font-color);
}

.dark-theme hr {
  border: 0.5px solid var(--light-black);
}

.dark-theme h1 {
  margin-bottom: 24px;
  display: inline-block;
  color: var(--header-color);
}

.dark-theme h2 {
  color: var(--header-color);
  border-bottom: 4px solid var(--red);
  padding-bottom: 1px;
  display: inline-block;
  margin-bottom: 16px;
}

.dark-theme h3 {
  color: var(--header-color);
  border-bottom: 4px solid var(--green);
  padding-bottom: 1px;
  display: inline-block;
  margin-bottom: 16px;
}

.dark-theme .footer {
  text-align: center;
  margin-top: 128px;
  margin-bottom: 16px;
  color: var(--light-black);
  font-size: 0.8em;
}

.dark-theme button {
  background-color: transparent;
  border: 2px solid var(--aqua);
  border-radius: 5px;
  color: var(--aqua);
  padding: 8px 16px;
}

.dark-theme button a {
  text-decoration: none;
  font-weight: bold;
}

.dark-theme button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--aqua);
  color: var(--font-color);
}
