:root {
  --black: #2e3440;
  --white: #eceff4;
  --light-black: #4c566a;
  --red: #bf616a;
  --green: #a3be8c;
  --yellow: #ebcb8b;
  --blue: #5e81ac;
  --purple: #b48ead;
  --aqua: #8fbcbb;
  --grey: #434c5e;
  --header-color: #eceff4;
  --font-color: #d8dee9;
  --light-header-color: "#2e3440";
  --light-font-color: "#4c566a";
  --width: min(700px, 90vw);
}
